<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8d0d2a3c03.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <!-- C:\Users\user\Code\work\yourcat\yourcat\static\yourcat\style.css -->
    <link rel='stylesheet' href="{%static 'yourcat/style.css' %}">
    <!-- <link rel='stylesheet' href="yourcat\static\yourcat\style.css"> -->
    
    <!-- <script src="src/main.js"></script> -->
    <title>넌 누구냥?</title>
</head>
<body>
    <!--Header-->
    <header>
        <div class="header_logo">
            <a href="/"><i class="fas fa-paw"></i>
                <span class="header_titile">넌 누구냥?</span></a>
        </div>
        <ul class="navbar_menu">
            <li><a href="profiles/">
            <i class="fas fa-cat icon"></i>
                <span>고양이 프로필</span></a>
            </li>
            <li>
            <a href="#"><i class="fas fa-fish icon"></i> 
                <span>배식</span></a>
            </li>
            <li>
            <a href="cctv/"><i class="fas fa-desktop icon"></i> 
                <span>CCTV</span></a>
            </li>
            <li>
            <a href="admin/"><i class="far fa-user icon"></i> 
                <span>LOGIN</span></a>
            </li>
        </ul>
    </header>

    <!--main picture-->
    <section class="visual">
        <div class="main_title">
            <span class="phrase">너는 누구냥?</span>
        </div>
    </section>

    <!--cat profile-->
    <main class="main_board">
        <section class="cat_list">
            <div class="main_title">너는 누구냥?</div>
            <section class="cats">
            </section>
        </section>
    </main>
    <footer>
        <div>가나다
        </div>
    </footer>
</body>
</html>

<!-- 
<head></head>
<body>
<h1>넌 누구냥 메인 홈페이지</h1>
<h2>대충 만든 html 기능이 되는지 보려고 만든 거~</h2>
    <li><a href="profiles/">프로필</a></li>
    <li><a href="cctv/">cctv</a></li>
</body> -->